<!doctype html>
<html>
  <head>
    {% block head %}
    <link href="{{ url_for('static', filename='all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">



  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>

  <body>

    <div id="content">
                  {% with messages = get_flashed_messages() %}

                {% if messages %}

                <ul>

                {% for message in messages %}

                <li>{{ message }}</li>

                {% endfor %}

                </ul>

                {% endif %}

                {% endwith %}

    {% block content %}
      {% include "includes/navbar.html" %}
  {% include "includes/pageheader.html" %}
    
    
    {% endblock %}</div>
    <div id="footer">
      {% block footer %}
      <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>
      {% endblock %}
    </div>
  </body>
</html>
